<div class="mt-16">
    <h1 class="text-5xl text-zinc-900 font-black text-center mb-4">Clientes</h1>
    <p class="text-center text-zinc-700">¡Queremos ver tus mejores fotos con Wemasha!<br />¿Que estas esperando?</p>
    <div class=" max-w-[1200px] mx-auto mt-8 grid grid-cols-1 md:grid-cols-4 gap-4">
        <a href="/clientes" class="w-full h-[240px] bg-[url('/images/clientes/cliente-28.jpg')] bg-full bg-center rounded-lg bg-slate-600 md:col-span-2 overflow-hidden"></a>
        <a href="/clientes" class="w-full h-[240px] bg-[url('/images/clientes/cliente-29.jpg')] bg-full bg-center rounded-lg bg-slate-600 col-span-1 overflow-hidden"></a>
        <a href="/clientes" class="w-full h-[240px] bg-[url('/images/clientes/cliente-30.jpg')] bg-full bg-center rounded-lg bg-slate-600 col-span-1 overflow-hidden"></a>
        <a href="/clientes" class="hidden md:block w-full h-[240px] bg-[url('/images/clientes/cliente-31.jpg')] bg-full bg-center rounded-lg bg-slate-600 col-span-1 overflow-hidden"></a>
        <a href="/clientes" class="hidden md:block w-full h-[240px] bg-[url('/images/clientes/cliente-27.jpg')] bg-full bg-center rounded-lg bg-slate-600 md:col-span-2 overflow-hidden"></a>
        <a href="/clientes" class="hidden md:block w-full h-[240px] bg-[url('/images/clientes/cliente-34.jpg')] bg-full bg-center rounded-lg bg-slate-600 col-span-1 overflow-hidden"></a>
    </div>
    <div class="flex items-center justify-center mt-6">
        <a href="/clientes" class="text-zinc-900 border border-zinc-900 rounded-lg py-3 px-6 text-center">Ver más</a>
    </div>
</div>