---
import Instagram from "@icons/instagram.astro";
import Whatsapp from "@icons/whatsapp.astro";
---

<footer class="h-56 flex flex-col gap-4 items-center justify-center mt-16">
        <img src="/logo.svg" alt="Wemasha" class="h-8" />
        <div class="flex mx-auto gap-4 justify-center">
                <a href="https://www.instagram.com/wemasha.arg/" target="_blank">
                    <Instagram />
                </a>
                <a href="https://wa.me/+543795343171" target="_blank">
                    <Whatsapp />
                </a>
        </div>
        <p class="text-zinc-600 text-center">Seguí en contacto con nosotros y viví el estilo <span class="text-zinc-900">Wemasha.</span></p>
        
        <!-- Línea divisoria -->
        <div class="w-24 h-px bg-zinc-300 my-2"></div>
        
        <div class="text-zinc-600 italic text-center">
            <span>Pagina creada por </span>
            <a href="https://infinitworks.com" target="_blank" class="text-zinc-800 hover:text-pink-500 transition-colors duration-300 underline">
                Infinitworks
            </a>
            <span> & </span>
            <a href="https://wa.me/+543795343171?text=Hola! Estoy interesado en una web para mi negocio, info por favor" target="_blank" class="text-zinc-800 hover:text-pink-500 transition-colors duration-300 underline">
                WeMashaDev
            </a>
        </div>       
</footer>