---
import Instagram from "@icons/instagram.astro";
import Whatsapp from "@icons/whatsapp.astro";
---

<footer class="h-56 flex flex-col gap-4 items-center justify-center mt-16">
        <img src="/logo.svg" alt="Wemasha" class="h-8" />
        <div class="flex mx-auto gap-4 justify-center">
                <a href="https://www.instagram.com/wemasha.arg/" target="_blank">
                    <Instagram />
                </a>
                <a href="https://wa.me/+543795343171" target="_blank">
                    <Whatsapp />
                </a>
        </div>
        <p class="text-zinc-600 text-center">Seguí en contacto con nosotros y viví el estilo <span class="text-zinc-900">Wemasha.</span></p>
        <a href="https://infinitworks.com" target="_blank">
            <p class="text-zinc-600 italic text-center">Developed by Infinitworks & WeMashaDev</p>
        </a>       
</footer>