---
import Cart from "@icons/mCart.astro";
import Premium from "@icons/premium.astro";
import Pago from "@icons/pago.astro";
---

<div class="max-w-[1200px] mx-auto mt-16 gap-4 md:gap-14">
    <div class="mx-4 md:ml-0">
        <h1 class="text-4xl text-zinc-900 font-black mb-2">Modalidad de trabajo</h1>
        <p class="text-zinc-700 border-b border-b-zinc-300 pb-4">Todos nuestros productos tienen un tiempo de fabricación, por favor leer la descripción atentamente.</p>
        <div class="mt-8 flex gap-3">
            <div class="mt-1 text-zinc-400">
                <Cart />
            </div>
            <div>
                <h2 class="text-xl text-zinc-900 font-black mb-1">Proceso de compra</h2>
                <p class="text-zinc-700">Para confirmar tu pedido, deberas realizar la transferencia del 100% de la prenda + envío y enviarnos el comprobante.
                    Todas las semanas cerramos la lista de pedidos los dias Jueves a las 23:59hs, los dias Viernes nos dedicamos a imprimir las estampas y preparar los pedidos para entregarlos los dias Sabados o Lunes.
                    Ofrecemos dos opciones de envío: a domicilio o a una sucursal de Correo Argentino, según tu preferencia.</p>
            </div>
        </div>

        <div class="mt-8 flex gap-3">
            <div class="mt-1 text-zinc-400">
                <Premium />
            </div>
            <div>
                <h2 class="text-xl text-zinc-900 font-black mb-1">Calidad premium</h2>
                <p class="text-zinc-700">Siempre utilizamos materiales de alta calidad para ofrecerte la mejor experiencia streetwear. Las remeras son de Jersey peinado 24.1 y los buzos son de friza peinada, calidad y confección premium. Las estampas son en DTF para una calidad de imagen excepcional.</p>
            </div>
        </div>

        <div class="mt-8 flex gap-3">
            <div class="mt-1 text-zinc-400">
                <Pago />
            </div>
            <div>
                <h2 class="text-xl text-zinc-900 font-black mb-1">Medios de pago</h2>
                <p class="text-zinc-700">Aceptamos todos los medios de pago. El precio publicado corresponde al precio con tarjeta (precio de lista) y pueden realizar el pago en 2 cuotas sin interés. Los pagos por transferencia tienen un 15% de descuento.</p>
            </div>
        </div>

    </div>
</div>